

/*Donut Chart*/

.chart-container {
    width: 200px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.donut-chart {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(
            #a6c8ff 0% 55%,
            #d7b9ff 55% 100%
    );
    margin: 0 auto;
    position: relative;
}

.donut-hole {
    width: 70px; /* Adjust the size for the hole */
    height: 70px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    z-index: 1; /* Ensures the text is above the donut hole */
}

.legend {
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.boys {
    background-color: #a6c8ff;
}

.girls {
    background-color: #d7b9ff;
}


@media (max-width: 400px) {
    .sidebar.close .side-nav-links li .sub-menu {
        display: none;
    }

    .sidebar {
        width: 78px;
    }

    .sidebar.close {
        width: 0;
    }

    .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }

    .sidebar.close~.home-section {
        width: 100%;
        left: 0;
    }
}